.header {
  max-width: 880px;
  width: 100%;
  height: 74px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 45px;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 173px;
  height: 33px;
}

.header__line {
  border: 1px solid rgba(84, 84, 84, 1);
  width: 880px;
  margin-top: 41px;
  display: flex;
  justify-content: center;
}

.header__login {
  display: flex;
  gap: 56px;
}
.header__logout {
  color: rgba(169, 169, 169, 1);
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}

.header__logout:hover {
  border-bottom: 1px solid rgba(169, 169, 169, 1);
  border-top: 1px solid rgba(169, 169, 169, 1);
}

.header__menu {
  display: none;
  width: 33px;
}

.header__mobile {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header__mobile_open {
  display: none;
}

@media (max-width: 1024px) {
  .header__logo {
    padding-left: 27px;
  }
}

@media (max-width: 940px) {
  .header__login {
    display: none;
  }
  .header__menu {
    display: flex;
    padding-right: 27px;
    cursor: pointer;
    transition: transform 0.3 ease;
  }
  .header__mobile_open.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .header__menu {
    transform: scale(0.9);
  }
}

@media (max-width: 544px) {
  .header {
    padding-top: 28px;
  }
  .header__logo {
    width: 126px;
    height: 24px;
  }
}
